DB_HOST=localhost
DB_PORT=db_port
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=chill_movie
DB_DIALECT=mysql
PORT=3000

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_USER=mailtrap_user
SMTP_PASSWORD=mailtrap_password
SMTP_PORT=mailtrap_port
SMTP_SENDER=dummy@gmail.com

NODE_ENV=development

JWT_SECRET=secret_key